<html lang="en">

<head>
    <title>
        Pranjal Portfolio
    </title>
    <link rel="stylesheet" href="static/css/master.css">
</head>

<body>
    <img src="static/images/ProfilePicture.jpg" height=50% alt="ProfilePicture">
    <h1>Snow Cat</h1>
    <h3>Founder and CEO CatCo</h3>
    <h2>About Me</h2>
    <p>Secured AIR rank 111 in GATE 2018</p>
    <p>I have done my M.Tech in Computer Science at National University of Lesotho</p>
    <p>I love to code and teach!</p>
    <h2>Resume</h2>

    <h2>My Socials</h2>
    <p><a href="https://www.facebook.com"><img src="static/images/facebook.png" height=30 alt="Facebook"></a>
        <a href="https://www.instagram.com"><img src="static/images/instagram.png" height=30 alt="Instagram"></a>
        <a href="https://www.linkedin.com"><img src="static/images/LinkedIn.png" height=30 alt="Linkedin"></a>
        <a href="https://www.youtube.com/"><img src="static/images/youtube.png" height=30 alt="Youtube"></a>
    </p>


    <section id="Contact"></section>
    <h2>Contact me</h2>
    <p>Email ID: cat@catmail.co.ls</p>
    <p>Phone Number: +27 12 345 6789</p>
</body>

<footer>
    <hr>
    <code>Copyright (c) 2022 CatCo</code>
</footer>

</html>